ENCRYPTION_KEY=
AUTH_SECRET=
POSTGRES_PASSWORD=
POSTGRES_USER=infisical
POSTGRES_DB=infisical
DB_CONNECTION_URI=postgres://infisical:CHANGE_ME@db:5432/infisical
REDIS_URL=redis://redis:6379
SITE_URL=http://127.0.0.1:8088
NODE_ENV=production
TELEMETRY_ENABLED=false
